
    /* Reset básico */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.6;
      background-color: #F1E3B6;
      color: #333;
    }

    header {
      background-color: #F1E3B6;
      color: #fff;
      padding: 2rem 1rem;
      text-align: center;
    }

    header h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    nav {
      background-color: #351A03;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
      text-align: center;
    }

    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }

    nav a:hover {
      text-decoration: underline;
    }

    section {
      padding: 3rem 1rem;
      max-width: 1000px;
      margin: auto;
    }

    section h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #383845;
    }

    section p {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
      color: #000;
    }

    footer {
      background-color: #5a7f78;
      color: #fff;
      text-align: center;
      padding: 2rem 1rem;
      margin-top: 3rem;
    }

    @media (max-width: 600px) {
      header h1 {
        font-size: 1.8rem;
      }

      nav a {
        display: block;
        margin: 10px 0;
      }

      section {
        padding: 2rem 1rem;
      }
    }







    .hero {
      position: relative;
      width: 100%;
      height: 400px; /* altura da hero */
      overflow: hidden;
    }
    
    .hero img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    /* Texto sobreposto */
    .hero-texto {
      position: absolute;
      top: 63%;
      left: 49%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
    }
    
    /* Botão */
    .btn-hero {
      display: inline-block;
      margin-top: 15px;
      padding: 12px 25px;
      background: #fff;
      color: #000;
      text-decoration: none;
      border-radius: 20px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .btn-hero:hover {
      background: #F1E3B6;
    }




    .quemsomos {
      position: relative;
      width: 100%;
      height: 400px; /* altura da hero */
      overflow: hidden;
    }
    
    .quemsomos img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    /* Texto sobreposto */
    .quemsomos-texto {
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: left;
      color: white;
    }
    
    /* Botão */
    .btn-quemsomos {
      display: inline-block;
      margin-top: 15px;
      padding: 12px 25px;
      background: #000;
      color: #000;
      text-decoration: none;
      border-radius: 20px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .btn-quemsomos:hover {
      background: #F1E3B6;
    }




    .resgates {
      position: relative;
      width: 100%;
      height: 400px; /* altura da hero */
      overflow: hidden;
    }
    
    .resgates img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    /* Texto sobreposto */
    .resgates-texto {
      position: absolute;
      top: 180%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: left;
      color: white;
    }
    
    /* Botão */
    .btn-resgates {
      display: inline-block;
      margin-top: 15px;
      padding: 12px 25px;
      background: #000;
      color: #000;
      text-decoration: none;
      border-radius: 20px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .btn-resgates:hover {
      background: #F1E3B6;
    }






